#cartButton {
    margin-right: 8px;
}

.glyphicon.glyphicon-shopping-cart {
    font-size: 30px;
}

nav {
    padding: 8px;
}

.loginForm {
    margin: 10%;
}

.checkoutForm {
    margin-top: 5%;
}

a.remove {
    text-decoration: none;
}

a.remove:hover {
    color: blue;
}

.marginTop {
    margin-top: 5%;
}

.marginTop1 {
    margin-top: 2%;
}

.formPullRightButton {
    margin-right: 10px !important
}

.carousel img {
    min-width: 100%;
}
